<ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" (select)="onSelect($event)">
</ngx-charts-bar-vertical>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ngx-charts-bar-vertical-stacked [view]="view2" [results]="single2" [scheme]="colorScheme2" [gradient]="gradient2" [xAxis]="showXAxis2" [yAxis]="showYAxis2" [legend]="showLegend2" [showXAxisLabel]="showXAxisLabel2" [showYAxisLabel]="showYAxisLabel2" [xAxisLabel]="xAxisLabel2"
    [yAxisLabel]="yAxisLabel2">
</ngx-charts-bar-vertical-stacked>