<ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" (select)="onSelect($event)">
</ngx-charts-bar-vertical>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ngx-charts-bar-vertical-stacked [view]="view2" [results]="single2" [scheme]="colorScheme2" [gradient]="gradient2" [xAxis]="showXAxis2" [yAxis]="showYAxis2" [legend]="showLegend2" [showXAxisLabel]="showXAxisLabel2" [showYAxisLabel]="showYAxisLabel2" [xAxisLabel]="xAxisLabel2"
    [yAxisLabel]="yAxisLabel2">
</ngx-charts-bar-vertical-stacked>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ngx-charts-line-chart [view]="view3" [results]="single3" [scheme]="colorScheme2" [legend]="legend3" [showXAxisLabel]="showXAxisLabel3" [showYAxisLabel]="showYAxisLabel3" [xAxis]="xAxis3" [yAxis]="yAxis3" [timeline]="timeline3" (select)="onSelect($event)"
    (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
</ngx-charts-line-chart>